* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.todo {
  margin-top: 2rem;
  padding: 2rem 4rem;
  border-radius: 4px;
  background: #222930;
  width: 90%;
  min-width: 480px;
  height: 768px;
  color: white;
  overflow: scroll;
  margin-right: auto;
  margin-left: auto;
}

/* --- TO DO HEADER STYLES --- */
.todo__header {
  padding: 1rem 0;
}
.todo__title {
  margin: 1rem;
  text-align: center;
}
.todo__input {
  width: 100%;
  border-radius: 4px;
  padding: 1rem 1.2rem;
  outline: none;
  border: none;
  font-size: 1rem;
}

/* --- TO DO BODY STYLES --- */
.todo__item {
  list-style-type: none;
  padding: 1rem 1.2rem;
  border-bottom: 2px solid #d49a3f;
  display: flex;
  justify-content: space-between;
}
.todo__item:hover {
  cursor: pointer;
}
.todo__delete__button {
    padding: 0.1rem;
    background: transparent;
    color: white;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
}
.todo__delete__button:hover {
  cursor: pointer;
  opacity: 0.8;
}
.done {
  text-decoration: line-through;
  color: #aaa;
  border-bottom: 2px solid rgb(65, 52, 32);
}
#x {
  text-decoration: none !important;
}

